<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Buscador Tatuadores</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../Resources/css/style.css">
	<link rel="stylesheet" type="text/css" href="../Resources/css/font-awesome.min.css">
</head>
<body>
	<header id="header">
		<nav class="menu">
			<div class="logo">
				<a href="#">
					<!--<img src="img/logo.png">
					<a href="#" class="btn-menu" id="btn-menu">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</a>
					-->
				</a>
			</div>			
			<div class="enlaces">
				<a href="#">
					<i class="fa fa-home" aria-hidden="true"></i>
					Home					
				</a>
				<a href="#">
					<i class="fa fa-sign-in" aria-hidden="true"></i>
					Sign in					
				</a>
				<a href="#">
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
					Contacto				
				</a>
			</div>	
		</nav>
	</header>
	<div class="login-form">
		<form action="" id="formlg" align="center">
			<label>Usuario</label>
			<div>
				<input type="text" name="usuariolg" placeholder="Usuario" required />
			</div>
			<label>Contraseña</label>
			<div>
				<input type="password" name="passlg" placeholder="Password" required />
			</div>
			<div>
				<input type="submit" class="botonlg" value="Iniciar Sesión">
			</div>
			<div>
				<a href="#">Lost Your Password?</a>
			</div>
		</form>
	</div>
</body>
</html>